.btn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    padding: 17px 40px 17px 24px;
    box-shadow: 0px 4px 12px 0px rgba(10, 11, 15, 0.10);
    font-weight: 500;

    &__icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;

            path {
                fill: var(--gray-700);
            }
        }
    }

    &_standart {
        background: var(--blue-gradient);
        color: var(--white);

        &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(180deg, #0054F6 0%, #200DFF 100%);
        }
    }

    &_white {
        background: var(--white);
        color: var(--blue-900);

        .btn {
            &__icon svg path {
                fill: var(--blue-900);
            }
        }

        &:hover {
            color: var(--blue-gradient);

            .btn {
                &__icon svg path {
                    fill: var(--blue-gradient);
                }
            }
        }
    }
}