.offers {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 50px;
    transition: .6s ease-in-out transform;
    transform: translateX(calc(-100% + 56px));
    z-index: 99;

    &_active {
        transform: translateX(0);
    }

    &__show {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 21px 16px;
        background: var(--white);
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10);
        cursor: pointer;
        z-index: 99;
    }

    &__showTitle {
        margin-top: 12px;
        font-size: 14px;
        font-weight: 500;
        color: var(--blue-900);
        writing-mode: vertical-lr;
        // transform: scale(-1);
    }

    &__icon {
        width: 24px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__form {
        padding: 25px 15px;
        background: var(--white);
        border-radius: var(--radius);
        border-top-right-radius: 0;
        box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.10);
        z-index: 99;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 24px;
        font-weight: 600;
    }

    &__close {
        width: 24px;
        height: 24px;
        padding: 1px;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__subheader {
        font-size: 14px;
        font-weight: 500;
        color: var(--gray-400);
        margin-top: 22px;
    }

    &__textarea textarea {
        width: 512px;
        height: 289px;
        border: 1px solid var(--gray-400);
        border-radius: var(--radius);
        color: var(--gray-400);
        padding: 8px 15px;
        resize: none;
    }

    &__submit {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
}